<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin concert</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style_admin.css}" type="text/css">
</head>
<body>
<header th:replace="fragments/admin-nav.html :: admin-nav (${user})"></header>
<h3>Create a concert</h3>
<form class="col s12" method="post" th:action="@{/admin/concert}" th:object="${concert}">
    <input th:field="*{id}" type="hidden">
    <div class="row">
        <div class="input-field col s8">
            <select id="band" th:field="*{band.id}">
                <option value="-1" selected>Select a band</option>
                <option th:each="b: ${bands}"
                        th:selected="${b.id == concert.band.id}"
                        th:text="${b.name}"
                        th:value="${b.id}">Aerosmith</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input class="validate" id="scene" type="text" th:field="*{scene}">
            <label for="scene">Scene</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input class="validate" id="date" type="text" th:field="*{date}">
            <label for="date">Date</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s5">
            <input class="validate" id="beginning_hour" type="text" th:field="*{beginningHour}">
            <label for="beginning_hour">Beginning hour</label>
        </div>
        <div class="input-field col s5 offset-s2">
            <input class="validate" id="end_hour" type="text" th:field="*{endHour}">
            <label for="end_hour">End hour</label>
        </div>
    </div>
    <div class="rom">
        <div class="file-field input-field col s6">
            <div class="btn waves-effect waves-light red accent-4">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <button class="col s2 offset-s5 btn waves-effect waves-light red accent-4" name="action" type="submit">Apply
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/js_nav.js" type="text/JavaScript"></script>
<script src="/js/js_admin.js" type="text/JavaScript"></script>
</body>
</html>