<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Admin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/8f4bb5d891.js"></script>
    <link rel="stylesheet" th:href="@{/css/style_admin.css}" type="text/css">
</head>
<body>
<header th:replace="fragments/admin-nav.html :: admin-nav (${user})"></header>
    <h3>Administration</h3>
<div class="row">
    <form class="col s3 offset-s9" method="get" action="/admin/profile/create">
    <button class="btn waves-effect waves-light red accent-4" name="action" type="submit">Create new admin</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Role</th>
        <th>Modification / Suppression</th>
    </tr>
    </thead>
    <tbody th:each="user : ${users}">
    <tr>
        <td th:text="${user.username}">Admin</td>
        <td th:text="${user.role.name}">Roles</td>
        <td><a th:href="@{/admin/profile/delete(id=${user.id})}"> <i class="fas fa-trash-alt"> </i></a></td>
        <td><a th:href="@{/admin/profile/create(id=${user.id})}"> <i class="fas fa-edit"></i> </a></td>
    </tr>
    </tbody>
</table>

</body>
</html>