<!DOCTYPE html>
<html lang=en xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Band</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/8f4bb5d891.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="row">
    <h3 class="col s6">Band</h3>
    <p class="col s1 offset-s4"><a href="/"> <i class="fas fa-home"></i></a></p>
</div>
<div class="band-top" th:object="${band}">
        <div class="bang-image">
            <img th:src="@{images/{image}(image = ${band.image})}">
        </div>
        <div class="band-detail" >
            <h5 th:text="|Band : *{name}|">Name</h5>
            <h5 th:text="|Music style : *{musiqStyle}|">Music style</h5>
            <h5 th:text="|Creation date: *{creationYear}|">Creation year</h5>
            <ul>
                <li><a th:href="*{facebookLink}"> <i class="fab fa-facebook"></i></a></li>
                <li><a th:href="*{youtubeLink}"> <i class="fab fa-youtube"></i></a></li>
                <li><a th:href="*{siteLink}"> <i class="fas fa-record-vinyl"></i></a></li>
            </ul>
        </div>
    </div>
<div class="row" th:each="c : ${concerts}">
    <h5 class="header" th:text="${c.scene}">Scène</h5>
    <div class="card horizontal s10 offset-s1 m8 offet-m2">
        <div class="card-image">
            <img th:src="@{images/{image}(image = ${c.image})}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p th:text="|Beginning Hour : ${c.beginningHour}|">Heure début</p>
                <p th:text="|End hour : ${c.endHour}|">Heure de fin</p>
            </div>
            <div class="card-action">
                <p th:text="|Date : ${c.date}|">année</p>
            </div>
        </div>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>